
 body {
    background-color: rgb(42, 41, 44);
    color: rgb(224, 221, 212);
    font-family: monospace;
    font-weight: 400;
    height: 100vh;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 601px) {
    .title {
        font-size: 48px;
    }
    .mission {
      font-size: 24px;
    }
    .info {
        font-size: 24px;
    }
  }

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    .title {
        font-size: 32px;
    }
    .mission {
      font-size: 16px;
    }
    .info {
        font-size: 16px;
    }
  }

a {
    text-decoration: none;
}

 .main-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
 }

 .title {
    text-align: center;
    padding: 8px;
}

.mission {
    text-align: center;
    padding: 8px;
}

.mission p {
    margin-bottom: 0px;
    margin-top: 16px;
}

.info {
    text-align: center;
    padding: 8px;
}

.blue {
    color: rgb(105, 184, 236);
}

.green {
    color: rgb(87, 209, 118);
}

.yellow {
    color: rgb(204, 224, 87)
}

.purple {
    color: #da8ee9;
}

.cursor {
    animation-name: cursor-blink; 
    animation-duration: 0.6s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

@keyframes cursor-blink {
    from {opacity: 0;}
    to {opacity: 0.8;}
  }